
<nav class="navbar navbar-toggleable-md navbar-info bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLinkActive="active" [routerLinkActiveOptions] = "{ exact : true }" routerLink="/">FoodWala</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
      </li>
      <li class="nav-item">
        <a routerLink="/animation" routerLinkActive="active" class="nav-link">Animation</a>
      </li>
      <li class="nav-item">
        <a routerLink="/search" routerLinkActive="active" class="nav-link">Search</a>
      </li>
      <li class="nav-item">
        <a routerLink="/register" routerLinkActive="active" class="nav-link" *ngIf="!isloggedIn">Register</a>
      </li>
      <li class="nav-item">
        <a routerLink="/sign-in" routerLinkActive="active" class="nav-link" *ngIf="!isloggedIn">Sign-In</a>
      </li>
      <li class="nav-item">
        <a routerLink="/sign-in" routerLinkActive="active" class="nav-link" *ngIf="isloggedIn" (click)="logout()">Sign-Out</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
